.todo {
  h3 {
    margin: 0;
    padding: 0;
  }
  .cards {
    .card {
      text-align: left;
      margin: 10px;
      padding: 10px;
      box-sizing: border-box;
      border: 1px solid black;
      border-radius: 10px;
      display: flex;
      flex-direction:row;
      gap: 10px;
      .title {
        font-weight: bold;
        font-size: 1.2em;
      }
      .status {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        align-self: center;
        &.s1 {
          background-color: rgb(70, 70, 255);
        }
        &.s2 {
          background-color: rgb(92, 255, 70);
        }
      }
      .info {
        font-size: 0.6em;
        align-self: center;
      }
      .btns {
        margin-left: auto;
      }
    }
  }
}
